[difftool]
    prompt = true
[init]
    defaultBranch = main
[difftool "vimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[diff]
    tool = nvimdiff
    colorMoved = default
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool "vimdiff"]
    path = nvim

[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections

; [rerere]
;     enabled = true
[branch]
    sort = -committerdate
[gpg]
    format = ssh
[commit]
    gpgsign = true
[maintenance]
    repo = /Users/tmp/.dotfiles
    repo = /Users/tmp/work/jay/repos/backend-api-dm
    repo = /Users/tmp/work/jay/repos/backend-tracking

[includeif "gitdir:~/personal/"]
    path = ~/personal/.gitconfig
[includeif "gitdir:~/.dotfiles/"]
    path = ~/personal/.gitconfig
[includeif "gitdir:~/work/jay/"]
    path = ~/work/jay/.gitconfig
[includeif "gitdir:~/work/brightway"]
    path = ~/work/brightway/.gitconfig
