[user]
    signingkey = /Users/taras/.ssh/id_rsa.pub
[difftool]
    prompt = true
[init]
    defaultBranch = main
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[diff]
    tool = nvimdiff
    colorMoved = default
[merge]
    tool = nvimdiff
    # not sure this is needed
    conflictstyle = diff3
[mergetool]
    keepBackup = false
[mergetool "nvimdiff"]
    # to display correct window layout during merge confilicts
    cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\""
    path = nvim

[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections

; [rerere]
;     enabled = true
[branch]
    sort = -committerdate
[gpg]
    format = ssh
[commit]
    gpgsign = true
[maintenance]
    repo = /Users/tmp/.dotfiles

[includeif "gitdir:~/personal/"]
    path = ~/personal/.gitconfig
[includeif "gitdir:~/.dotfiles"]
    path = ~/personal/.gitconfig
[includeif "gitdir:~/work/"]
    path = ~/work/.gitconfig
