strong
{
    font-weight: 700 !important;
    color: var(--text-title-h1) !important;
}
em
{
    font-weight: 100 !important;
}


.markdown-preview-section strong,
.cm-s-obsidian .cm-strong {
    font-weight: 700 !important;
    color: var(--text-title-h1) !important;
}
.markdown-preview-section em,
.cm-s-obsidian .cm-em {
    font-weight: 100 !important;
}
